body  {
	background-color: black;
}

/*Main Div*/

.main {
	background-color: white;
	margin-top:110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
/*	display: inline-block;*/
}


/* Ryu and Hulk Ryu Divs*/
.ryu {
	float:left;
	width: 659px;
	height: 494px;
}

.hulk-ryu {
	float:right;
	width: 659px;
	height: 494px;
}

/*.hulk-ryu .ryu-ready .ryu-still .ryu-thowing .ryu-cool {
	filter: hue-rotate(90deg);
	float:right;
	width: 659px;
	height: 494px;
}*/


/* Figure Divs*/

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}


.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

/*Hadouken and Hulk Hadouken*/

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top:167px;
	left: 520px;
	z-index: 10;
}

.hulk-hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: right;
	position: absolute;
	top:167px;
	right: 520px;
	z-index: 10;
	filter:hue-rotate(90deg);
}

/* Text */

.text-instructions {
	display: block;
	float:right;
	position: absolute;
	left: 600px;
	max-width: 455px;
	height: 500px;
	padding: 100px 75px 0 0;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.make-para {
	
	font-size: 30px;
	display: inline-block;
	float:  left;
	padding-right: 100px;
	padding-left:  35px;
	
}

.press-para {
	
	font-size: 30px;
	display: inline-block;
	padding-left: 100px;
	padding-top: 55px;
	position: relative;
	left: 150px;	
	
}

